@import './variables2';


.checkoutcon{
    width:100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.checkoutinfocon{
    width:70%;
}
.checkoutaddresscon{
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    background: $color40;
}

.checkoutaddress{
    padding: 20px;

    p{
        font-size: 13px;
        color: $color104;
    }
}

.checkoutpaymentcon{
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    background: $color40;
    margin-top: 25px;
}

.checkoutpayment{
    padding: 20px;
}

.paymentmethods{
display:flex;
align-items: center;
padding: 10px 0;

     p{
        font-size: 15px;
        color: $color104; 
        padding-left: 10px;
     }
     label{
        cursor: pointer;
     }
}

.checkoutsummarycon{
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    background: $color40;
    width: 27%;
}

.checkoutvouchercon{
    padding:10px 20px;
}

.checkoutvoucherheading{
      p{
        font-size: 11px;
        color: $color104;
        padding: 3px 0; 
      }
}
.checkoutvoucher{
display: flex;
align-items: center;

    input{
        border: 1px solid silver;
        padding: 9px 7px;
        border-radius: 5px 0 0 5px;
        box-sizing: border-box;
        width: 70%;
    }

    button{
        width: 30%;
        color: $color50;
        font-family: font3;
        padding: 10px;
        border: 0;
        background: $color60;
        cursor: pointer;
        border-radius: 0 5px 5px 0;
        text-align: center;
    }
}

.checkoutsummary{
    padding:10px 20px;
}

.checkoutsummary div:nth-of-type(1){
 color: $color102;
 font-size: 14px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.checkoutsummary div:nth-of-type(2){
    color: $color102;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
    border-bottom: 1px solid $color105;
}

.checkoutsummary div:nth-of-type(3){
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.checkoutsummary div:nth-of-type(4) button{
    width: 100%;
    color: $color50;
    font-family: font3;
    padding: 10px;
    border: 0;
    background: $color60;
    cursor: pointer;
    border-radius:5px;
    text-align: center;
}
   
.delivery_notesBtn{
    margin: -25px 0 10px 0;

    button{
        color: $color50;
        font-family: font3;
        padding: 9px;
        border: 0;
        background: $color60;
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
        font-size: 11px;
        cursor: pointer;
    }


}

.delivery_note{
    textarea{
        border: 1px solid $color50;
        padding: 11px 8px;
        border-radius: 5px;
        width: 85%;
        box-sizing: border-box;
        height: 120px;
        font-size: 12px;
        background: rgba(89, 114, 185, 0.1);
        color: $color60;
    }    
}


.ordersCon{
    padding:10px 20px 0 20px;
}

.order{
    display: flex;
    margin: 10px 0;
    border: 1px solid lightgray;
    padding: 0 7px 0 0;
}

.orderImg{
    background-color: $color50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

    img{
        width: 60px;
        height: 60px;
        object-fit: cover;
    }
}

.orderDetails{
    padding: 0 0 0 10px;
}

.orderTitle{
    p{
        font-size: 14px;
        padding-top: 5px;

    }
}

.ordePrice p:nth-of-type(1){
    font-family: font3;
    font-size: 11px;
    color: $color60;
}

.ordePrice p:nth-of-type(2){
    font-size: 9px;
}










@media (max-width:750px) {
    .checkoutcon{
        flex-direction: column;
    }

    .checkoutinfocon{
        width:100%;
        margin: 0 0 20px 0;
    }

    .checkoutsummarycon{
        width: 100%;
    }

    .delivery_note{
        textarea{
            width: 100%;
        }    
    }
}