@import './variables2';


.popupCon{
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    z-index: 300;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.2);
    box-sizing: border-box;
    overflow-y: auto;
    backdrop-filter: blur(2px);
}

.popup{
width: 60vw;
height: 80vh;
overflow-y: auto;
}




@media (max-width:750px) {
    .popup{
        padding: 6%;
    }

    .popup{
        width: 85vw;
        }
       
}