@import './_variables2';
@import './_reviews';



.productcon{
    display: flex;
    align-items: flex-start;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    background: $color40;
    padding: 12px;    
}

.productimgslidercon{
    width:430px;
}

.productimgslider{
background: $color105;

    img{
        width:430px;
        height: 400px;
        object-fit: cover;
    }
}

.productimgslidescon{
    display: flex;
    padding: 10px 0;
    box-sizing: border-box;
    overflow-x: auto;
    height: auto;
}

.productimgslides{
margin:0 5px;
background: $color105;
width:60px;
height: 50px;
box-sizing: border-box;
    img{
        width:60px;
        height: 50px;
        cursor: pointer;
    }
}

.productinfocon{
padding: 23px;
width: 50%;
}

.gproductname p{
    font-family: font3;
    font-size: 25px;
} 

.gproductcateg{
    padding: 10px 0;
    font-size: 14px;
}

.gproductprice{
    padding: 10px 0;

    span{
        font-family: font3;
    }
}

.gproductprice span:nth-child(2){
    text-decoration: line-through;
    color: $color102;
}

.gproductprice span:nth-child(3){
padding: 12px;
background: $color100;
text-align: center;
font-family: font1;
font-size: 12px;
margin-left: 10px;
}

.gproductshippinginfo{
    padding: 10px 0;
    font-size: 12px;
    padding-bottom: 0;

    p{
        padding: 10px;
        background: $color70;
        color: white;
        width: 20%;
        font-family: font3;
    }
}

.gproductaction{
    width: 100%;
    padding:30px 0;

    button{
        width: 100%;
        border: 0;
        background: $color60;
        padding: 10px;
        border-radius: 5px;
        color: $color40;
        font-size: 13px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
        cursor:pointer;
      }
}

.productdetailscon{
    margin: 20px 0;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    background: $color40;
}

.hiddendetails{
    padding:10px 25px;
    font-size: 14px;
    margin-top: -20px;
}

.socialLinks :nth-child(1){
    padding-left: 0;
}

.socialLinks {

    img{
        padding:0 10px;
        height: 22px;
        width: 22px;
    }
}

.summary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px;
}

#hiddendetails{
    padding:10px 25px;
    font-size: 14px;
}

.slideicon{
    padding: 0 15px;
}

.gproductratings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;

    .gproductrating i{
        padding: 0 3px;
    }
    .gproductrating :nth-child(1){
        padding: 0 3px 0 0;
    }
}

.gratings2{
    font-size: 18px;

    i{
        margin: 0 5px;
        cursor: pointer;
        display: flex;
        align-items: center;

        span{
            font-size:8px;
            color:$color103;
            padding-left: 3px;
        }
    }
}

.quantityCon{
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $color105;
    border-bottom: 1px solid $color105;
    box-shadow: 0 0.5px 3px 0 rgba(0,0,0,.2);
    margin: 5px 7px 5px 0;

    button{
        border:0;
        width: calc(100%/3);
        padding: 9px;
        background: $color40;
        border-left: 1px solid $color105;
        border-right: 1px solid $color105;
        font-weight: 900;
        cursor: pointer !important;
    }

    select{
        border: 1px solid $color108;
        padding: 9px 6px;
        border-radius: 5px;
        width:100%;
        box-sizing: border-box;  
      }
}

.gproductData{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}

















@media (max-width:870px) {
    .productcon{
     flex-direction: column;
     margin-top: 0px;
    }
    
    .productimgslidercon{
        width: 100%;
        justify-content: center;
    }

    .productimgslider{
         width:100%;
         position: relative;
        // height: 80vw;

        img{
            position: absolute;
            width:100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left:0;
            right: 0;
            //object-fit: cover;
        }
    }

    .productimgslider::after{
        content: '';
        display: block;
        padding-bottom: 100%;
    }


    .productimgslides{
        width:40px;
        height: 35px;
        
            img{
                width:40px;
                height: 35px;
            }
        }
        
    .productinfocon{
        width: 88%;
        justify-content: center;
        padding:20px 10px;
    }

    .gproductname p{
        font-size: 23px;
    }
    .gproductcateg p{
        font-size: 12px;
    }
    .gproductratings{
        width: 90% !important;
    }
    .gproductshippinginfo{
        font-size: 11px;

        p{
            width: 30%;
        }
    }

    .summary{
    font-size: 14px;
}


.quantityCon{
 width: 120px;
}



}