@import './variables2';

.searchcon{
    flex-grow: 2;
    padding: 0 6px;
    position: relative;
}

.search{
    display: flex;
    align-items: center;
    margin-right: 15px;

    input{
        border: none;
        padding: 11px 8px;
        padding-right: 38px !important;
        border-radius: 5px;
        width: 80%;
        background: rgb(89, 114, 185,0.2);
        color: rgb(89, 114, 185);
    }

    input:focus{
        outline: none;
    }

    i{
        margin-left: -30px;
        color: rgb(89, 114, 185);
    }

    button{
        border: 0;
        padding: 10px 15px;
        margin-left: 8px;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
        background: $color60;
        color:$color40;
        cursor: pointer;
    }
}



.result-container{
    position: absolute;
    width: 100%;
	padding: 10px;
    padding-left: 0;
    box-sizing: border-box;
    margin-top: -3px;

    a{
        border: none;
        padding: 10px;
        padding-right: 38px !important;
        width: 80%;
        background: $color50;
        color: $color60;
        text-decoration: none;
        font-size: 12px;
    }
}













@media(max-width:760px){

.search{

    input{
        padding: 9px 9px;
        width: 100%;
        font-size: 13px;
    }

    button{
        font-size: 11px;
        text-align: center;
    }
}
.result-container{
    display: none;
}
}