@import '../../containers/main/styles/variables2';

#specialproductinfo2{
    p{
        margin-top: 10px;
        height: 5px;
        width: 40px;
        @include skeleton-load;
    }
}

#productprices2{

    button{
        height: 20px;
        @include skeleton-load;
        box-shadow: none;
        margin-top: 10px;
    }
}